.main-container{
    width:100%;
    background-color: bisque;
}
.main-top{
    padding:1.5rem;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.main-top img{
    width:3rem;
    height:3rem; 
    border-radius: 50%;   
}
.main-bottom{
   /* padding:1rem; */
    gap:10px;
    flex: 1 1 auto; 
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.output{
    flex: 1 1 auto; 
   
    display:flex;
    flex-direction: column;

    width:50vw;
    padding:1rem;
    background-color: aquamarine;
    overflow-y:auto;
    overflow-x: hidden;
}
.output img{
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
}
.user-input {
    width: 100%;
    box-sizing:border-box;
    padding:.25rem;
    gap:8px;
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-bottom:2rem;
}
.system-output{
    width: 100%;
    box-sizing:border-box;
    padding:.25rem;
    gap:8px;
    display:flex;
    align-items: flex-start;
    flex-direction: row;
}
.prompt-input{
    width:50vw;
    padding: .5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius:25px;

}
.prompt-input input{
   flex:1;
   height:2rem;
   border:none;
   outline: none;
   background-color:bisque;
   padding:5px;
    
}
.prompt-icon button {
  background-color: bisque;
  border:none;
  width:fit-content;
 
}
.prompt-icon{
    display:flex;
    padding:.25rem;
    gap:10px;
}
.prompt-icon img{
    width:2rem;
    height:2rem;
}